<div class='page-header'>
	<h2>View Your Bills</h2>
</div>
<div class='well'>
	View bills that have been sent to you from your web hoster.
</div>
<div class='row'>
	<div class='col-md-5'>
		<div class='page-header'> 
			<h4>Outstanding Bills</h4>
		</div>
		{{#if bills}}
			<table class='table table-striped'>
				<th>Description</th>
				<th>Ammount</th>
			</table>
		{{/if}}
		{{#unless bills}}
			<div class='alert alert-info'>
				You have no outstanding bills.
			</div>
		{{/unless}}
	</div>
	<div class='col-md-7'>
		<div class='page-header'>
			<h4>How you are billed</h4>
		</div>
		<div class='well'>
			You are billed by your web host, on a monthly basis.
			You payments are proccessed through a standing order
			via PayPal.
		</div>
	</div>
</div>