html, body
{
  background-color: #293a4a;
}
.whmgr-login .wrap
{
  margin-top: 150px;
}
.whmgr-login label
{
  color: white;
}

.btn.btn-primary
{
  background-color: #179bd7;
  font-size: 13px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.action-icon a
{
  font-size: 18px;
  color: inherit;
}
.action-icon a:hover
{
  text-decoration: none;
}
.action-icon span
{
  margin-top: 10px;
}

.form-control[type='text']
{
  border: 1px solid #FFF;
  padding: 0 10px;
  border-radius: 4px;
}

.navbar-default
{
  border-radius: 0;
  background-color: #293a4a;
  color: white;
}

.panel.panel-default > .panel-heading
{
  background-color: #293a4a;
  color: white;
}
