<div class='container'>
	<br><br>
	<div class='page-header'>
		<img src='/img/whmgr-logo.png' width='300px'>
	</div>
	<h1 style='color: white;'>Could not read license file</h1>
	<h3 style='color: white;'>Please contact whmgr, as your license has expired, or is
	    invalid.
	</h3>
</div>