<div class='page-header'>
	<h2>Email Accounts</h2>
</div>
<div class='well'>
	Email accounts that you have created.
</div>
<div class='row'>
	<div class='col-md-5'>
		<table class='table table-striped'>
			{{#each accounts}}
				<tr>
					<td>{{username}}</td>
					<td>Login</td>
				</tr>
			{{/each}}
		</table>
	</div>
</div>
