<div class='page-header'>
	<h2>Website Analytics</h2>
</div>
<div class='row'>
	<div class='col-md-12'>
		<div class='jumbotron'>
			<h2 class='text-center'><b>No analytics to report.</b></h2>
			<p class='text-center'>
				This usually means that your site has not yet been visited.
				Try visiting your website, to begin using whmgr analytics.
			</p>
			<div class='col-md-2 col-md-offset-5'>
				<a class='text-center btn btn-primary btn-lg' style='width: 100%;' href='/clientarea'>
					Go back
				</a>
			</div>
		</div>
	</div>
</div>