<div class='well'>
	Create a new database.
</div>
<div class='row'>
	<div class='col-md-5'>
		<form method='post'>
			<label>Database Name</label>
			<div class='input-group'>
				<span class='input-group-addon'>
					{{username}}
					_db_
				</span>
				<input name='name' class='form-control'>
			</div>
			<br>
			<label>Database Username</label>
			<div class='input-group'>
				<span class='input-group-addon'>
					{{username}}
					_du_
				</span>
				<input name='user' class='form-control'>
			</div>
			<br>
			<div class='form-group'>
				<label>Database User Password</label>
				<input name='password' class='form-control'>
			</div>
			<input type='submit' class='btn btn-primary pull-right' value='Create Database'>
		</form>
	</div>
</div>
