<div class='well'>
	Create a new database.
</div>
<div class='row'>
	<div class='col-md-5'>
		{{#if username_length}}
			<div class='alert alert-danger'>
				Your username must not be greated than 16 characters.
			</div>
		{{/if}}
		{{#if database_length}}
			<div class='alert alert-danger'>
				Your database name must not be greated than 16 characters.
			</div>
		{{/if}}
		<form method='post'>
			<label>Database Name</label>
			<div class='input-group {{#if database_length}}has-error{{/if}}'>
				<span class='input-group-addon'>
					{{username}}
					_db_
				</span>
				<input name='name' class='form-control'>
			</div>
			<br>
			<label>Database Username</label>
			<div class='input-group {{#if username_length}}has-error{{/if}}'>
				<span class='input-group-addon'>
					{{username}}
					_du_
				</span>
				<input name='user' class='form-control'>
			</div>
			<br>
			<div class='form-group'>
				<label>Database User Password</label>
				<input name='password' class='form-control'>
			</div>
			<input type='submit' class='btn btn-primary pull-right' value='Create Database'>
		</form>
	</div>
</div>
