<div class='well'>
	Connection information for database.
	<a class='btn btn-primary pull-right' href='../'>
		Go back
	</a>
</div>
<div class='row'>
	<div class='col-md-4'>
		<table class='table table-striped'>
			<tr>
				<td><b>Hostname</b></td>
				<td>localhost</td>
			</tr>
			<tr>
				<td><b>Database</b></td>
				<td>{{database.database}}</td>
			</tr>
			<tr>
				<td><b>Username</b></td>
				<td>{{database.username}}</td>
			</tr>
			<tr>
				<td><b>Password</b></td>
				<td>{{database.password}}</td>
			</tr>
		</table>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<b>Remote connections to this database</b>
			<p>
				Remote connections to this database are not supported, for security reasons.
			</p>
		</div>
	</div>
</div>