{{#if bills }}
  <div class='alert alert-info'>
    You have {{bills.length}} outstanding bills.
    <a href='/clientarea/bills' class='pull-right'>
      View Bills
    </a>
  </div>
{{/if}}
<div class='panel panel-default'>
  <div class='panel-heading'>FTP / File Manager</div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-3 action-icon'>
        <a href='/clientarea/ftp-details'>
          <img src='/icons/ftp.svg' width='50px'>
          <span>FTP Details</span>
        </a>
      </div>
      <div class='col-md-3 action-icon'>
        <a href='/do-login/filemanager'>
          <img src='/icons/filemanager.svg' width='50px'>
          <span>Filemanager</span>
        </a>
      </div>
      <div class='col-md-3 action-icon'>
        <a href='/clientarea/export-files'>
          <img src='/icons/zip.svg' width='50px'>
          <span>Export Files</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>Email Accounts</div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-3 action-icon'>
        <a href='/clientarea/export-files'>
          <img src='/icons/email.svg' width='50px'>
          <span>Webmail Login</span>
        </a>
      </div>
      <div class='col-md-3 action-icon'>
        <a href='/clientarea/export-files'>
          <img src='/icons/email-accounts.svg' width='50px'>
          <span>Accounts</span>
        </a>
      </div>
      <div class='col-md-3 action-icon'>
        <a href='/clientarea/email/create'>
          <img src='/icons/email-add.svg' width='50px'>
          <span>Add Account</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>MYSQL Database</div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-3 action-icon'>
        <a target='_blank' href='/clientarea/databases/select'>
          <img src='/icons/phpmyadmin.png' width='50px'>
          <span>PhpMyAdmin</span>
        </a>
      </div>
      <div class='col-md-3 action-icon'>
        <a href='/clientarea/databases'>
          <img src='/icons/find-db.svg' width='50px'>
          <span>Databases</span>
        </a>
      </div>
      <div class='col-md-3 action-icon'>
        <a href='/clientarea/databases/add'>
          <img src='/icons/add-db.svg' width='50px'>
          <span>Add Database</span>
        </a>
      </div>
      <div class='col-md-3 action-icon'>
        <a href='/clientarea/databases/delete'>
          <img src='/icons/del-db.svg' width='50px'>
          <span>Delete Database</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>Admin Tasks</div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-3 action-icon'>
        <a href='/services'>
          <img src='/icons/service.svg' width='50px'>
          <span>Restart Services</span>
        </a>
      </div>
      <div class='col-md-3 action-icon'>
        <a href='/clientarea/logout'>
          <img src='/icons/service.svg' width='50px'>
          <span>Logout</span>
        </a>
      </div>
    </div>
  </div>
</div>
