<div class='well'>
	FTP connection informastion, for your FTP client
	<a href='/clientarea' class='btn btn-primary pull-right'>
		Go back
	</a>
</div>
<div class='row'>
	<div class='col-md-4'>
		<table class='table table-striped'>
			<tr>
				<td><b>FTP Host</b></td>
				<td>{{url}}</td>
			</tr>
			<tr>
				<td><b>FTP Port</b></td>
				<td>22</td>
			</tr>
			<tr>
				<td><b>FTP Username</b></td>
				<td>{{username}}</td>
			</tr>
			<tr>
				<td><b>FTP Host</b></td>
				<td><i>Your account password</i></td>
			</tr>
		</table>
	</div>
</div>
