<div class='panel panel-default'>
  <div class='panel-heading'>Client Accounts</div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-3 action-icon'>
        <a href='/accounts'>
          <img src='/icons/clients.svg' width='50px'>
          <span>View Accounts</span>
        </a>
      </div>
      <div class='col-md-3 action-icon'>
        <a href='/accounts/add'>
          <img src='/icons/add-client.svg' width='50px'>
          <span>Create Account</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>Admin Tasks</div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-5 action-icon'>
        <a href='/services'>
          <img src='/icons/service.svg' width='50px'>
          <span>Restart Services</span>
        </a>
      </div>
    </div>
  </div>
</div>
